<!DOCTYPE html>
<html>
<head>

	<title><%= title %></title>
    <meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('./partials/main'); %>

</head>

<body class="setup-main-container login-main-container">
	
    <!-- setup-main-container -->
    <div class="main-container">

      <!-- setup-main-container -->
      <div class="side-bar">

        <img class="side-bar-brand" src="assets/brand/brand.svg" alt="brand"/>

        <ul class="side-bar-ul">

        </ul>

        <p class="side-bar-section-description">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
        
      </div>
      <!-- end setup-main-container -->

      <div class="sub-container">

        <div class="owl-carousel owl-theme ">
            <!-- sub-container Details -->
               <div  class="item" id="Login_Section" >
              <div  class="sub-main-container">
                <h1 class="sub-container-main-header">Welcome</h1>
                <h4 class="sub-container-sub-header">Please enter your phone number or email address that you are registred with! </h4>

                <form class="sub-container-form" action="/login" method="POST" id="login">

                  <div class="form-group group">
                    <input type="text" class="input-user-login" name="email" required >
                    <label class="input-label"><span class="input-label-text">Phone number or Email address</span> <span class="input-label-bg-mask"></span></label>
                  </div>

                  <p class="sections-main-sub-container-right-main-note input-validation-error-feedback-hide">
                      Phone number or email address not registered yet.
                  </p>

                </form>

              </div>

              <div class="sub-container-form-footer hide-footer">
                  <div class="rounded-button rounded-button-primary rounded-button-float-right " id="Login_Section_Btn">
                        <span class="button-text">Next</span>
                        <img class="icon button-icon" src="assets/icons/right_arrow.svg">
                  </div>
              </div>

            </div>
            <!-- end sub-container Details -->


            <!-- sub-container Details -->
            <div  class="item" id="Code_Section" >
              <div  class="sub-main-container">
                <h1 class="sub-container-main-header">Let's get started</h1>
                <h4 class="sub-container-sub-header">Please enter verification code sent to your phone number or email address! </h4>

                <form class="sub-container-form">

                  <div class="form-group group">
                    <input type="text" class="input-user-code" name="code"  required >
                    <label class="input-label"><span class="input-label-text">Verification code</span> <span class="input-label-bg-mask"></span></label>
                  </div>

                  <p class="sections-main-sub-container-right-main-note input-validation-error-feedback-hide">
                      Verification code is invalid or expired. <span class="sections-main-sub-container-right-main-note-span">Send me a new one</span>
                  </p>

                </form>
              </div>

              <div class="sub-container-form-footer hide-footer">
                  <div class="rounded-button rounded-button-primary rounded-button-float-right"  id="Code_Section_Btn">
                        <span class="button-text">login</span>
                        <img class="icon button-icon" src="assets/icons/right_arrow.svg">
                  </div>
              </div>

            </div>
            <!-- end sub-container Details -->
        </div>

      </div>


    </div>
    <!-- end setup-main-container -->
    <script src="/javascripts/login.js" type="text/javascript" charset="utf-8" async defer></script>
    <script type="text/javascript" charset="utf-8" async defer>
      var owl = $('.owl-carousel');
      owl.owlCarousel({
            slideSpeed : 300,
            singleItem:true,
            pagination: false,
            nav:true,
            mouseDrag:false,
      });
    </script>
</body>

</html>
