<div
  id="Attitude"
  class="tab-pane fade sections-main-sub-container-right-main-body"
>
  <div
    id="attitude_title"
    class="sections-main-sub-container-right-main-label-divider"
  >
    <p>Attitude</p>
  </div>

  <div class="row sections-main-sub-container-right-main-rows">
    <div class="col-xs-12">
      <table id="attitude_table">
        <thead>
          <tr>
            <th scope="col" class="col-first">Interaction</th>
            <th scope="col" class="col-middle">Note</th>
            <th scope="col" class="col-last">Date</th>
          </tr>
        </thead>

        <tbody class="note_container"></tbody>
      </table>
    </div>
  </div>

  <% if (role === 'Admin' || role === 'Teacher') { %>
  <!-- sub-container-form-footer-container -->
  <div class="sub-container-form-footer-container">
    <!--  sub-container-form-footer -->
    <div class="sub-container-form-footer">
      <div
        class="rounded-button rounded-button-primary rounded-button-float-right default-button caret-disable-rotate"
        data-toggle="modal"
        data-target="#AddAttitudeModal"
      >
        <span class="button-text" id="">Add attitude</span>
        <img class="icon button-icon" src="assets/icons/plus.svg" />
      </div>
    </div>
    <!--  End sub-container-form-footer -->
  </div>
  <!-- End sub-container-form-footer-container -->

  <!--_____________ Attitude modal _____________-->

  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div id="EditAttitudeModal" class="modal" role="dialog">
    <div
      class="modal-dialog modal-dialog-cente animate__animated animate__fadeIn"
    >
      <!-- Modal content-->
      <div class="modal-content modal-content-finance">
        <div class="modal-body">
          <!-- modal-body-container -->

          <div class="modal-body-container">
            <h1 class="sub-container-main-header">Attitude</h1>
            <h4 class="sub-container-sub-header">
              There are many variations of passages of Lorem Ipsum available.
            </h4>

            <div class="row sections-main-sub-container-right-main-rows">
              <div class="col-md-6">
                <div class="form-group group readonly">
                  <input type="text" required="" name="edit-classe" />
                  <label class="input-label">
                    <span class="input-label-text">Class</span
                    ><span class="input-label-bg-mask"></span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group readonly">
                  <input type="text" required="" name="edit-student" />
                  <label class="input-label">
                    <span class="input-label-text">Student</span
                    ><span class="input-label-bg-mask"></span>
                  </label>
                </div>
              </div>
            </div>

            <div
              class="dynamic-form-input-container dynamic-form-input-container-extra-style"
            >
              <label class="input-label dynamic-form-input-container-label"
                ><span class="input-label-text">Type</span>
                <span class="input-label-bg-mask"></span
              ></label>

              <div class="sections-checkboxes-main-container">
                <div
                  class="sections-label-checkbox-main-container sections-label-checkbox-container-left dynamic-form-input-container-type"
                  data-val="Positive"
                >
                  <div class="sections-label-checkbox-container">
                    <div class="form-group group">
                      <span class="expense_label">Positive</span>
                    </div>
                  </div>
                  <div class="customCheck customCheckRounded readonly">
                    <input
                      type="checkbox"
                      checked
                      value="0"
                      data-val="Positive"
                      name="checkbox"
                      id=""
                    />
                    <label for="ck"></label>
                  </div>
                </div>

                <div
                  class="sections-label-checkbox-main-container sections-label-checkbox-container-left container-background-style"
                  data-val="Negative"
                >
                  <div class="sections-label-checkbox-container">
                    <div class="form-group group">
                      <span class="expense_label">Negative</span>
                    </div>
                  </div>
                  <div class="customCheck customCheckRounded readonly">
                    <input
                      type="checkbox"
                      value="1"
                      data-val="Negative"
                      name="checkbox"
                      id=""
                    />
                    <label for="ck"></label>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="dynamic-form-input-container dynamic-form-input-container-extra-style"
            >
              <label class="input-label dynamic-form-input-container-label"
                ><span class="input-label-text">Date</span>
                <span class="input-label-bg-mask"></span
              ></label>

              <div
                class="form-group group dynamic-form-input-text-container-icon"
              >
                <input
                  type="text"
                  name="date"
                  class="input-text input-extra-border input-date input-date-illimited"
                  required=""
                  placeholder="Select date"
                />
                <img
                  class="icon button-icon caret-disable-rotate"
                  src="assets/icons/date_icon.svg"
                />
              </div>
            </div>

            <div class="row sections-main-sub-container-right-main-rows">
              <div class="col-xs-12">
                <div class="form-group group">
                  <textarea
                    class="input-text input-text-area"
                    id="edit-note"
                  ></textarea>
                  <label class="input-label">
                    <span class="input-label-text">Note</span
                    ><span class="input-label-bg-mask"></span>
                  </label>
                </div>
              </div>
            </div>

            <!--  sub-container-form-footer -->
            <div class="sub-container-form-footer">
              <div
                class="rounded-button default-button rounded-button-primary rounded-button-float-right modal-confirm-button"
                onclick="updateAttitude()"
              >
                <span class="button-text">Save</span>
                <img
                  class="icon button-icon"
                  src="assets/icons/check_small.svg"
                />
              </div>
              <div
                class="rounded-button rounded-button-primary rounded-button-float-right default-button btn-secondary"
                data-dismiss="modal"
              >
                <span class="button-text">Cancel</span>
              </div>
            </div>
            <!--  End sub-container-form-footer -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}%>
</div>
