<div
  id="Exams"
  class="tab-pane fade sections-main-sub-container-right-main-body hidden"
>
  <div class="sections-main-sub-container-right-main-label-divider">
    <p data-lang="Exams">Exams</p>
  </div>

  <div class="row sections-main-sub-container-right-main-rows">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th scope="col" data-lang="Exam_title">Exam Title</th>
            <th scope="col" data-lang="Exam_date">Date</th>
            <th scope="col" data-lang="Score">Scores</th>
          </tr>
        </thead>
        <tbody class="exams-container"></tbody>
      </table>
    </div>
  </div>
</div>
