<div
  id="Grades"
  class="tab-pane fade sections-main-sub-container-right-main-body"
>
  <div class="sections-main-sub-container-right-main-label-divider">
    <p>Subjects score</p>
  </div>

  <div
    class="row sections-main-sub-container-right-main-rows sections-main-sub-container-right-main-table"
  >
    <div class="col-xs-12">
      <table class="table-extra-style">
        <thead>
          <tr>
            <th scope="col">Subject name</th>
            <th scope="col">Scores</th>
          </tr>
        </thead>
        <tbody class="scores-container"></tbody>
      </table>
    </div>
  </div>

  <div class="sections-main-sub-container-right-main-label-divider">
    <p>Grade</p>
  </div>

  <div class="sections-main-sub-container-right-main-result">
    <span class="sections-main-sub-container-right-main-result-label"
      >Result</span
    >
    <span
      class="sections-main-sub-container-right-main-result-value result-score"
      >0.00</span
    >
  </div>

  <p class="sections-main-sub-container-right-main-note">
    This is not the final result. some exams ahve nit been given a score yet!
  </p>
</div>
