<div class="sections-main-sub-container-right-main-header student">
  <div class="sections-main-sub-container-right-main-header-info">
    <div class="form-group">
      <div class="input-img-container input-rounded-img-container">
        <img class="input-img profile-img" src="<%= student.Student_Image %>" alt="profile">
      </div>
      <p class="label-full-name label-full-name-modal" id="student_name"></p>
    </div>

    <p class="label-full-name profile-full-name"><%= student.Student_FirstName%> <%= student.Student_LastName%></p>
  </div>
</div>