<div
  id="Homework"
  class="tab-pane fade sections-main-sub-container-right-main-body hidden"
>
  <div class="sections-main-sub-container-right-main-label-divider">
    <p>Homework</p>
  </div>

  <div class="row sections-main-sub-container-right-main-rows">
    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th scope="col">Homework title</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody class="homework-container"></tbody>
      </table>
    </div>
  </div>
</div>
